img-comparison-slider {
    visibility: hidden;
}

img-comparison-slider [slot='second'] {
    display: none;
}

img-comparison-slider.rendered {
    visibility: inherit;
}

img-comparison-slider.rendered [slot='second'] {
    display: unset;
}

img-comparison-slider {
    --default-handle-shadow: 0px 1px 1px black;
    --divider-shadow: 0px 1px 1px black;
}
